name: Android CI

on:
  push:
    tags-ignore:
      - 'v*'
    branches:
      - '**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Make google-service.json
        run: echo '${{ secrets.GOOGLE_SERVICE_BASE64 }}' | base64 -d > app/google-services.json
      - name: Build with Gradle
        run: ./gradlew build
